* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#6C6A68;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.app {
	background:url(../img/0-iphone-layout_iphone.png) no-repeat center top;
	position:absolute;
	left:0px;
	top:0px;
	height:1440px;
	width:1920px;
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;

    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.REC {
	font-size:12px;
	position: absolute;
	top: 740px;
	left: 1816px;
	width: 1px;
	height: 1px;
	background: none;
}

.SET {
	font-size:12px;
	position: absolute;
	top: 244px;
	left: 1788px;
	width: 1px;
	height: 1px;
	background-color: transparent;
}

.DOO {
	font-size:12px;
	position: absolute;
	top: 840px;
	left: 1447px;
	width: 344px;
	height: 354px;
	background-color: transparent;
}

.TI {
	font-size:12px;
	position: absolute;
	top: 839px;
	left: 1001px;
	width: 345px;
	height: 355px;
	background-color: transparent;
}

.LA {
	font-size:12px;
	position: absolute;
	top: 839px;
	left: 560px;
	width: 346px;
	height: 360px;
	background-color: transparent;
}

.SO {
	font-size:12px;
	position: absolute;
	top: 838px;
	left: 130px;
	width: 346px;
	height: 359px;
	background-color: transparent;
}

.FA {
	font-size:12px;
	position: absolute;
	top: 431px;
	left: 1443px;
	width: 345px;
	height: 358px;
	background-color: transparent;
}

.MI {
	font-size:12px;
	position: absolute;
	top: 431px;
	left: 1001px;
	width: 342px;
	height: 358px;
	background-color: transparent;
}

.RE {
	font-size:12px;
	position: absolute;
	top: 432px;
	left: 559px;
	width: 345px;
	height: 355px;
	background-color: transparent;
}

.DO {
	font-size:12px;
	position: absolute;
	top: 430px;
	left: 131px;
	width: 346px;
	height: 357px;
	background-color: transparent;
}

.event {
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	font-size:16px;
	margin:0px 30px;
	padding:2px 0px;
	position: absolute;
	top: 928px;
	left: 1481px;
	width: 277px;
}

.event.listening {
	background-color:#333333;
	display:block;
	
}

.event.received {
	background-color:#4B946A;
	display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
