<?xml version='1.0' encoding='utf-8'?>
<plugin
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="uk.co.workingedge.cordova.plugin.sqliteporter"
        version="0.1.1">
    <name>sqlite porter</name>
    <description>Enables importing/exporting of SQLite databases to/from JSON/SQL.</description>
    <author>Dave Alden</author>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <repo>https://github.com/dpa99c/cordova-sqlite-porter.git</repo>
    <issue>https://github.com/dpa99c/cordova-sqlite-porter/issues</issue>

    <license>MIT</license>
    <keywords>ecosystem:cordova,cordova,phonegap,database,sqlite,websql,import,export</keywords>

    <js-module name="sqlitePorter" src="www/sqlitePorter.js">
        <clobbers target="cordova.plugins.sqlitePorter" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="android-package" value="io.sqlc.SQLitePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/io/sqlc/SQLitePlugin.java" target-dir="src/io/sqlc"/>
        <source-file src="src/android/io/sqlc/SQLiteAndroidDatabase.java" target-dir="src/io/sqlc"/>

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SQLitePlugin">
                <param name="ios-package" value="SQLitePlugin" />
            </feature>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly -->
        <header-file src="src/ios/SQLitePlugin.h" />
        <source-file src="src/ios/SQLitePlugin.m" />
        <framework src="libsqlite3.dylib" />

    </platform>
    
</plugin>
