* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#6C6A68;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


.app {
	background:url(../img/0-iphone-layout_iphone4.png) no-repeat center top; /* 170px x 200px */
	position:absolute;
	left:0px;
	top:0px;
	height:641px;
	width:961px;
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;

}


@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:0px 0px 0px 0px;
        margin:0px 0px 0px 0px;

    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.REC {
	font-size:12px;
	position: absolute;
	top: 252px;
	left: 819px;
	width: 124px;
	height: 125px;
	background: none;
}

.SET {
	font-size:12px;
	position: absolute;
	top: 23px;
	left: 884px;
	width: 57px;
	height: 56px;
	background-color: transparent;
}

.DO {
	font-size:12px;
	position: absolute;
	top: 208px;
	left: 668px;
	width: 64px;
	height: 203px;
	background-color: transparent;
}

.RE {
	font-size:12px;
	position: absolute;
	top: 205px;
	left: 578px;
	width: 64px;
	height: 211px;
	background-color: transparent;
}

.MI {
	font-size:12px;
	position: absolute;
	top: 200px;
	left: 486px;
	width: 65px;
	height: 221px;
	background-color: transparent;
}

.FA {
	font-size:12px;
	position: absolute;
	top: 191px;
	left: 395px;
	width: 65px;
	height: 238px;
	background-color: transparent;
}

.SO {
	font-size:12px;
	position: absolute;
	top: 184px;
	left: 304px;
	width: 65px;
	height: 253px;
	background-color: transparent;
}

.LA {
	font-size:12px;
	position: absolute;
	top: 182px;
	left: 212px;
	width: 66px;
	height: 257px;
	background-color: transparent;
}

.TI {
	font-size:12px;
	position: absolute;
	top: 173px;
	left: 121px;
	width: 65px;
	height: 275px;
	background-color: transparent;
}

.DOO {
	font-size:12px;
	position: absolute;
	top: 165px;
	left: 31px;
	width: 64px;
	height: 291px;
	background-color: transparent;
}

.event {
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	font-size:12px;
	margin:0px 30px;
	padding:2px 0px;
	position: absolute;
	top: 427px;
	left: 733px;
	width: 150px;
}

.event.listening {
	background-color:#333333;
	display:block;
	
}

.event.received {
	background-color:#4B946A;
	display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
