* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#6C6A68;
    /* 
	background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    ); 
	*/
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
	background:url(../img/0-iphone-layout_iphone4.png) no-repeat center top; /* 170px x 200px */
	position:absolute;             /* position in the center of the screen */
	left:0px;
	top:0px;
	height:641px;                   /* text area height */
	width:961px;                   /* text area width */
	text-align:center;
	padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
	margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:0px 0px 0px 0px;  /* padding-top + padding-bottom + text area = image height */
        margin:0px 0px 0px 0px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.REC {
	font-size:12px;
	position: absolute;
	top: 252px;
	left: 819px;
	width: 124px;
	height: 125px;
	background: none;
}

.SET {
	font-size:12px;
	position: absolute;
	top: 23px;
	left: 884px;
	width: 57px;
	height: 56px;
	background-color: transparent;
}

.DO {
	font-size:12px;
	position: absolute;
	top: 243px;
	left: 665px;
	width: 69px;
	height: 137px;
	background-color: transparent;
}

.RE {
	font-size:12px;
	position: absolute;
	top: 238px;
	left: 575px;
	width: 69px;
	height: 147px;
	background-color: transparent;
}

.MI {
	font-size:12px;
	position: absolute;
	top: 232px;
	left: 484px;
	width: 69px;
	height: 158px;
	background-color: transparent;
}

.FA {
	font-size:12px;
	position: absolute;
	top: 229px;
	left: 393px;
	width: 69px;
	height: 164px;
	background-color: transparent;
}

.SO {
	font-size:12px;
	position: absolute;
	top: 222px;
	left: 302px;
	width: 69px;
	height: 178px;
	background-color: transparent;
}

.LA {
	font-size:12px;
	position: absolute;
	top: 218px;
	left: 211px;
	width: 69px;
	height: 187px;
	background-color: transparent;
}

.TI {
	font-size:12px;
	position: absolute;
	top: 210px;
	left: 119px;
	width: 68px;
	height: 204px;
	background-color: transparent;
}

.DOO {
	font-size:12px;
	position: absolute;
	top: 202px;
	left: 28px;
	width: 68px;
	height: 220px;
	background-color: transparent;
}

.event {
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	font-size:12px;
	margin:0px 30px;
	padding:2px 0px;
	position: absolute;
	top: 427px;
	left: 733px;
	width: 150px;
}

.event.listening {
	background-color:#333333;
	display:block;
	
}

.event.received {
	background-color:#4B946A;
	display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
